/*The CSS code is property to Mr. You (Kristiyan Valchev) and can only be viewed*/
/*If you want to use part of the code, please first contact me: mr.youdevelopment@gmail.com*/

/*
    todo - 
*/

html
{
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
    background-color: #f3f4f6;
    scroll-behavior: smooth;
}

body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root
{
    --topBarHeight: 60px;
    --pageSideSpace: 180px;
    --defaultSideSpace: 20px;
}

/*#region Additions */
html.htmlIndex
{
    background-color: #f3f4f6;
}

*
{
    -webkit-tap-highlight-color: transparent;
}

::selection { background: #ff3864; color: #f3f4f6; }
::-moz-selection { background: #ff3864; color: #f3f4f6; }
/*#endregion Additions */

.Colors
{
    color: #111111;
    color: #f3f4f6;

    color: #261447;
    color: #66f6b1;
    color: #ff3864;
}

/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 5px;
}

::-webkit-scrollbar-track
{
    background-color: #f3f4f6;
    border-radius: 70px;
}

::-webkit-scrollbar-thumb
{
	background: #ff386460;
	border-radius: 70px;
}

::-webkit-scrollbar-thumb:hover
{
	background: #ff386480;
}
/*#endregion Scrow bar */

/*#region Button */
.Button
{
    display: inline-block;
    position: relative;
    width: fit-content;
    height: auto;
    top: 0;
    left: var(--pageSideSpace);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #f3f4f6;
    background-color: #ff3864;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px 26px;
    cursor: pointer;
    user-select: none;

    animation: fadeIn .3s ease-out forwards .5s;
    opacity: 0;
}

.Button.cursed
{
    margin-bottom: -14px;
}

.Button:hover
{
    filter: brightness(.9);
}

.Button.Center
{
    left: 50%;
    transform: translateX(-50%);
}

.sectionHolder.Inverted .Button
{
    color: #261447;
    background-color: #66f6b1;
}

.sectionHolder .sectionContent .Button
{
    left: 0;
}

.sectionHolder .sectionContent .Button.Center
{
    left: 50%;
}

.Button.withRightIcon
{
    padding: 0px;
    overflow: hidden;
}

.Button.withRightIcon .buttonContent
{
    display: grid;
    grid-template-columns: auto calc(10px + 20px + 10px);
}

.Button span
{
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-right: 10px;
    padding: 10px 0px 10px 26px;
}

.Button .buttonRightIcon
{
    position: relative;
    width: calc(10px + 20px + 10px);
    height: 100%;
    top: 0;
    left: 0;
    background-color: #e22a53;
}

.Button .buttonRightIcon i
{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
}

.Button .buttonRightIcon i:last-child
{
    top: 0;
    transform: translateY(-100%);
}

.Button:hover .buttonRightIcon i
{
    top: 100%;
    transform: none;
}

.Button:hover .buttonRightIcon i:last-child
{
    top: 50%;
    transform: translateY(-50%);
}

.Button.Secondary
{
    color: #261447;
    background-color: #26144700;
    border: solid 2px #261447;
}

.Button.Secondary:hover
{
    filter: brightness(1);
    background-color: #26144710;
}

.Button.text
{
    color: #261447;
    background-color: transparent;
    padding: 0px;
}

.Button.text i
{
    color: #ff3864;
    margin-right: 5px;
}
/*#endregion Button */

/*#region X Close button */
.XCloseButton
{
    float: right;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20;
    right: 20;
    background-color: transparent;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    z-index: 10;
}

.XCloseButton::before,
.XCloseButton::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: calc(50% - 1.5px);
    left: 0;
    background-color: #ff3864;
    transition: ease .3s;
}

.XCloseButton::before { transform: rotate(45deg); }
.XCloseButton::after { transform: rotate(-45deg); }

.XCloseButton:hover::before,
.XCloseButton:hover::after
{
    filter: brightness(.9);
}
/*#endregion X Close button */

/*#region Grid */
.gridHolder
{
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;

    gap: 20px;
}

.gridHolder.x2
{
    grid-template-columns: 1fr 1fr;
}

.gridHolder.x3
{
    grid-template-columns: 1fr 1fr 1fr;
}

.gridHolder .gridElement
{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    padding: var(--defaultSideSpace) 0px;
    overflow: hidden;
    box-shadow: 0px 16px 30px #00000008;

    animation: fadeIn .3s ease-out forwards .3s;
    opacity: 0;
}

.gridHolder .gridElement:nth-child(1) { animation-delay: .4s; }
.gridHolder .gridElement:nth-child(2) { animation-delay: .45s; }
.gridHolder .gridElement:nth-child(3) { animation-delay: .5s; }

#howItWorksSection .gridHolder .gridElement
{
    padding: 0px 0px var(--defaultSideSpace);
}

.gridHolder .gridElement .gridElementCorner
{
    position: relative;
    width: 40px;
    height: 40px;
    top: 0;
    left: 100%;
    background-color: #66f6b1;
    border-radius: 0px 0px 0px 10px;
    transform: translateX(-100%);
}

.gridHolder .gridElement .gridElementCorner p
{
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    font-weight: 600;
    text-align: center;
    color: #261447;
    transform: translateY(-50%)
}

.gridHolder .gridElement .gridElementImage
{
    position: relative;
    width: 60px;
    height: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.gridHolder .gridElement img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sectionHolder .sectionContent .gridHolder .gridElement .normalTitle,
.sectionHolder .sectionContent .gridHolder .gridElement .normalText
{
    width: calc(100% - var(--defaultSideSpace) * 2);
    max-width: none;
    left: var(--defaultSideSpace);
}
/*#endregion Grid */

/*#region Bulet point list */
.bulletPointList
{
    position: relative;
    width: calc(100% - var(--defaultSideSpace) * 2);
    height: auto;
    top: 0;
    left: var(--defaultSideSpace);
}

#ourScootersSection .bulletPointList
{
    position: absolute;
    width: 320px;
    top: 200;
}

#ourScootersSection .bulletPointList#bulletPointList02
{
    float: right;
    top: 360;
    left: auto;
    right: 0;
}

.bulletPointList .bulletPointElement
{
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;

    gap: 0px;

    animation: fadeIn .3s ease-out forwards .5s;
    opacity: 0;
}

.bulletPointList .bulletPointElement:nth-child(1) { animation-delay: .5s; }
.bulletPointList .bulletPointElement:nth-child(2) { animation-delay: .55s; }
.bulletPointList .bulletPointElement:nth-child(3) { animation-delay: .6s; }
.bulletPointList .bulletPointElement:nth-child(4) { animation-delay: .65s; }
.bulletPointList .bulletPointElement:nth-child(5) { animation-delay: .7s; }

.bulletPointList.Left .bulletPointElement
{
    grid-template-columns: 50px auto;
}

.bulletPointList.Right .bulletPointElement
{
    grid-template-columns: auto 50px;
}

.bulletPointList .bulletPointElement .bulletPointElementText
{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #261447;
    padding: 16px 0px;
}

.bulletPointList.Left .bulletPointElement .bulletPointElementText
{
    padding-right: 26px;
}

.bulletPointList.Right .bulletPointElement .bulletPointElementText
{
    padding-left: 26px;
}

.bulletPointList.Right .bulletPointElement .bulletPointElementText:last-child
{
    display: none;
}

.bulletPointList .bulletPointElement .bulletPointElementPoint
{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bulletPointList .bulletPointElement .bulletPointElementPoint div
{
    --bulletPointElementPointSize: 12px;
    --bulletPointElementPointArroundWidth: 1px;
    --bulletPointElementPointArroundSize: calc(var(--bulletPointElementPointSize) + 1px * 2 + var(--bulletPointElementPointArroundWidth) * 2);
        
    position: absolute;
    width: var(--bulletPointElementPointSize);
    height: var(--bulletPointElementPointSize);
    top: 50%;
    left: 50%;
    background-color: #ff3864;
    border-radius: 999px;
    transform: translate(-50%, -50%);
}

.bulletPointList .bulletPointElement .bulletPointElementPoint div::after
{
    content: "";
    position: absolute;
    width: var(--bulletPointElementPointArroundSize);
    height: var(--bulletPointElementPointArroundSize);
    top: 50%;
    left: 50%;
    border: solid var(--bulletPointElementPointArroundWidth) #ff3864;
    border-radius: 999px;
    transform: translate(-50%, -50%);
}
/*#endregion Bulet point list */

/*#region Top bar */
.topBar
{
    position: fixed;
    width: 100%;
    height: var(--topBarHeight);
    top: 0;
    left: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    z-index: 10;
}

.topBar.Scrolled
{
    box-shadow: 0px 16px 30px #00000008;
}

.topBarUnder
{
    position: relative;
    width: 100%;
    height: var(--topBarHeight);
    top: 0;
    left: 0;
    z-index: 9;
}

.topBar .topBarContentLogo
{
    position: absolute;
    width: fit-content;
    height: auto;
    top: 50%;
    left: 40;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    color: #ff3864;
    transform: translateY(-50%);

    animation: fadeIn .3s ease-out forwards .1s;
    opacity: 0;
}

.topBar .topBarContentLogo:hover
{
    transform: translateY(-50%) scale(1.1);
}

.topBar .topBarContent
{
    float: right;
    position: absolute;
    width: fit-content;
    height: auto;
    top: 50%;
    right: 40;
    transform: translateY(-50%);
}

.topBar .topBarContent .topBarContentText
{
    display: inline-block;
    position: relative;
    width: fit-content;
    height: auto;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    color: #261447a0;
    border-radius: 6px;
    padding: 8px 16px;
    margin-left: 10px;

    animation: fadeIn .3s ease-out forwards .3s;
    opacity: 0;
}

.topBar .topBarContent .topBarContentText:nth-child(1) { animation-delay: .3s; }
.topBar .topBarContent .topBarContentText:nth-child(2) { animation-delay: .35s; }
.topBar .topBarContent .topBarContentText:nth-child(3) { animation-delay: .4s; }
.topBar .topBarContent .topBarContentText:nth-child(4) { animation-delay: .45s; }
.topBar .topBarContent .topBarContentText:nth-child(5) { animation-delay: .5s; }
.topBar .topBarContent .topBarContentText:nth-child(6) { animation-delay: .55s; }
.topBar .topBarContent .topBarContentText:nth-child(7) { animation-delay: .6s; }
.topBar .topBarContent .topBarContentText:nth-child(8) { animation-delay: .65s; }
.topBar .topBarContent .topBarContentText:nth-child(9) { animation-delay: .7s; }

.topBar .topBarContent .topBarContentText::before
{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -3px;
    left: 5%;
    background-color: #ff3864;
    visibility: hidden;
    transform: scaleX(0);
    
    transition: ease .3s;
}

.topBar .topBarContent .topBarContentText:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}

.topBar .topBarContent .topBarContentText.Active
{
    color: #261447;
}

.topBar .topBarContent .topBarContentText.buttonLike
{
    color: #f3f4f6;
    background-color: #ff3864;
    padding: 10px 26px;
}

.topBar .topBarContent .topBarContentText.buttonLike:hover::before
{
    visibility: hidden;
}

.topBar .burgerMenuButton
{
    --burgerMenuButtonHeight: 18px;

    display: none;
    float: right;
    position: absolute;
    width: 40px;
    height: var(--burgerMenuButtonHeight);
    top: 50%;
    right: var(--defaultSideSpace);
    transform: translateY(-50%);
    cursor: pointer;
}

.topBar .burgerMenuButton div
{
    top: 50%;
    transform: translateY(-50%);
}

.topBar .burgerMenuButton div::before,
.topBar .burgerMenuButton div::after
{
    content: "";
}

.topBar .burgerMenuButton div,
.topBar .burgerMenuButton div::before,
.topBar .burgerMenuButton div::after
{
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #ff3864;
}

.topBar .burgerMenuButton:hover div,
.topBar .burgerMenuButton:hover div::before,
.topBar .burgerMenuButton:hover div::after
{
    filter: brightness(.9);
}

.topBar .burgerMenuButton div::before
{
    top: calc(var(--burgerMenuButtonHeight) / -2);
}

.topBar .burgerMenuButton div::after
{
    bottom: calc(var(--burgerMenuButtonHeight) / -2);
}
/*#endregion Top bar */

/*#region Bottom bar */
.bottomBarBox
{
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;

    grid-template-columns: 1fr 1fr;
}

.bottomBarBox .bottomBarBoxElement
{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.bottomBarBox .bottomBarBoxElement .bottomBarBoxElementText
{
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    text-align: right;
    color: #555a7a;
    margin-bottom: 5px;
    transform: translateY(-50%);
}

.bottomBarBox .bottomBarBoxElement .bottomBarBoxElementText#bottomBarLeftText
{
    text-align: left;
}

.bottomBarLogo
{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #ff3864;
    margin-bottom: 20px;
}

.bottomBarBoxButtonsHolder
{
    position: relative;
    width: fit-content;
}
/*#endregion Bottom bar */

/*#region Section */
.sectionHolder
{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.sectionHolder#mainSection
{
    padding: 80px 0px;
}

.sectionHolder#howItWorksSection
{
    padding: 0px 0px 80px;
}

.sectionHolder#sdvantagesSection
{
    padding: 80px 0px;
}

.sectionHolder#pricingSection
{
    padding: 60px 0px;
}

.sectionHolder#ourScootersSection
{
    padding: 60px 0px;
}

.sectionHolder#downloadTheAppSection
{
    padding: 80px 0px;
}

.sectionHolder#forScooty
{
    padding: 60px 0px;
}

.sectionHolder#FAQScooty
{
    padding: 40px 0px;
}

.sectionHolder#bottomBarSection
{
    padding: 40px 0px;
}

.sectionHolder.Inverted
{
    background-color: #261447;
}

.sectionHolder .sectionContent
{
    position: relative;
    width: calc(100% - var(--pageSideSpace) * 2);
    height: auto;
    top: 0;
    left: var(--pageSideSpace);
}

.sectionHolder .sectionContent .sectionContentLeftBox
{
    position: relative;
    width: 50%;
    height: auto;
    top: 0;
    left: 50%;
}

.sectionHolder .sectionContent .sectionContentRightImage
{
    position: absolute;
    width: 50%;
    max-width: 440px;
    height: auto;
    bottom: -80;
    left: 0;
}

.sectionHolder .sectionContent .sectionContentTallImage
{
    position: absolute;
    width: 100px;
    height: auto;
    top: 0;
    left: 0;
}

.sectionHolder .sectionContent .sectionContentTallImage#sectionContentTallImage01
{
    top: 300;
    left: calc(50% - 430px + 100px);
    transform: translateX(-50%);
}

.sectionHolder .sectionContent .sectionContentTallImage#sectionContentTallImage02
{
    top: 100;
    left: calc(50% + 300px);
    transform: translateX(-50%);
}

.sectionHolder .sectionContent .sectionContentTallImage#sectionContentTallImage03
{
    top: 200;
    left: calc(50% + 300px + 100px + 20px);
    transform: translateX(-50%);
}

.pageTitle
{
    position: relative;
    width: fit-content;
    top: 0;
    left: 0;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 60px;
}

.pageTitle span
{
    position: relative;
    width: fit-content;
    z-index: 1;

    animation: fadeIn .3s ease-out forwards .2s;
    opacity: 0;
}

.pageTitle span::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 16;
    left: 0;
    background-color: #66f6b1;
    z-index: -1;
}

.pageTitle span.pageTitleColorDark
{
    color: #261447;
}

.pageTitle span.pageTitleColorRed
{
    color: #ff3864;
}

.pageTitle span.pageTitleColorRed::before
{
    background-color: #e8ebee;
}

.pageImage
{
    position: relative;
    width: 100%;
    max-width: 460px;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    animation: fadeIn .3s ease-out forwards .3s;
    opacity: 0;
}

.sectionContentImage
{
    position: absolute;
    width: 460px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.sectionContentImage img
{
    width: 100%;
    height: auto;
}

.sectionContentDecorationImage
{
    position: absolute;
    width: 380px;
    height: auto;
    top: 50%;
    left: calc(50% + 200px);
    transform: translate(-50%, -50%);
}

#ourScootersSection .sectionContentDecorationImage
{
    top: calc(50% + 40px);
    left: 50%;
}
/*#endregion Section */

/*#region Side panel */
.sidePanel
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000000;
    z-index: 11;
    pointer-events: none;
}

.sidePanel.Active
{
    background-color: #00000060;
    pointer-events: all;
}

.sidePanel .sidePanelBox
{
    float: right;
    position: fixed;
    width: 100%;
    max-width: 360px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f3f4f6;
    transform: translateX(100%);
}

.sidePanel.Active .sidePanelBox
{
    transform: translateX(0%);
}

.sidePanel .sidePanelBox .sidePanelContent
{
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    top: calc(20px + 30px + 20px);
    left: 20px;
}

.sidePanel .sidePanelBox .sidePanelContent .sidePanelContentText
{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #555a7aa0;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.sidePanel .sidePanelBox .sidePanelContent .sidePanelContentText.Active
{
    color: #555a7a;
}

.sidePanel .sidePanelBox .sidePanelContent .sidePanelContentText:hover
{
    color: #ff3864a0;
}

.sidePanel .sidePanelBox .sidePanelContent .sidePanelContentText.Active:hover
{
    color: #ff3864;
}

.sidePanel .sidePanelBox .sidePanelContent .sidePanelContentText:nth-last-child(2)
{
    margin-bottom: 60px;
}

.sidePanel .sidePanelBox .sidePanelContent .sidePanelContentText.buttonLike
{
    width: fit-content;
    color: #f3f4f6;
    background-color: #ff3864;
    padding: 10px 26px;
}
/*#endregion Side panel */

/*#region Foldable section */
/* .foldableSectionHolder
{
    position: relative;
    width: ;
} */

.foldableSection
{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.foldableSection::before,
.foldableSection::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #555a7a20;
}

.foldableSection::after
{
    display: none;
    top: auto;
    bottom: 0;
}

.foldableSection.Active::after
{
    bottom: -20;
}

.foldableSection.withBottonLine
{
    margin-bottom: 40px;
}

.foldableSection.withBottonLine:after
{
    display: block;
}

.foldableSection .foldableSectionHead
{
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;

    grid-template-columns: auto 50px;
}

.foldableSection .foldableSectionHead .foldableSectionHeadText
{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-weight: 600;
    color: #261447;
    padding: 16px 0px;
}

.foldableSection .foldableSectionHead .foldableSectionHeadArrow
{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.foldableSection .foldableSectionHead i
{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #66f6b1;
    transform: translateY(-50%);
}

.foldableSection:hover .foldableSectionHead i,
.foldableSection.Active .foldableSectionHead i
{
    transform: translateY(-50%) rotate(180deg);
}

.foldableSection .foldableSectionBody
{
    position: relative;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.foldableSection.Active .foldableSectionBody
{
    height: auto;
    opacity: 1;
    pointer-events: all;
}

.foldableSection .foldableSectionBody .normalText
{
    max-width: unset !important;
}
/*#endregion Foldable section */

/*#region Other */
.mainTitle
{
    position: relative;
    width: fit-content;
    max-width: 430px;
    height: auto;
    top: 0;
    left: 0;
    font-weight: 800;
    color: #261447;
    margin-bottom: 8px;
    z-index: 1;

    animation: fadeIn .3s ease-out forwards .3s;
    opacity: 0;
}

.normalTitle
{
    position: relative;
    width: calc(100% - var(--defaultSideSpace) * 2);
    height: auto;
    top: 0;
    left: var(--defaultSideSpace);
    font-weight: 800;
    color: #261447;
    margin-bottom: 10px;
    z-index: 1;

    animation: fadeIn .3s ease-out forwards .3s;
    opacity: 0;
}

.normalText
{
    position: relative;
    width: calc(100% - var(--defaultSideSpace) * 2);
    height: auto;
    top: 0;
    left: var(--defaultSideSpace);
    color: #261447a0;
    margin-bottom: 20px;

    animation: fadeIn .3s ease-out forwards .3s;
    opacity: 0;
}

.mainTitle.Center,
.normalText.Center
{
    left: 50% !important;
    transform: translateX(-50%);
}

.normalText.bigText
{
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
    color: #261447;
}

.normalText text
{
    font-weight: 600;
}

.sectionHolder#mainSection .normalText
{
    color: #261447;
    font-weight: 600;
}

.sectionHolder#mainSection .normalText text
{
    font-weight: 800;
}

#ourScootersSectionText
{
    float: right;
    position: absolute;
    width: 320px;
    top: 180;
    left: auto;
    right: 0;
}

#normalTextForScooty
{
    margin-top: 100px;
    left: calc(50% - 20px);
    transform: translateX(-50%);
}

.sectionHolder .sectionContent .normalTitle,
.sectionHolder .sectionContent .normalText
{
    width: 100%;
    max-width: 430px;
    left: 0;
}

.sectionHolder.Inverted .mainTitle,
.sectionHolder.Inverted .normalTitle
{
    color: #f3f4f6;
}

.sectionHolder.Inverted .normalText
{
    color: #f3f4f6a0;
}

.underTitleDecoration
{
    position: relative;
    width: fit-content;
    height: auto;
    top: 0;
    left: 0;
    margin-bottom: 20px;

    animation: fadeIn .3s ease-out forwards .5s;
    opacity: 0;
}

.underTitleDecoration.Center
{
    left: 50%;
    transform: translateX(-50%);
}

.sectionHolder#sdvantagesSection .underTitleDecoration
{
    margin-bottom: 60px;
}

.underTitleDecoration div
{
    display: inline-block;
    position: relative;
    width: 14px;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #66f6b1;
    margin-right: 4px;
}

.backgroundGradient
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ffffff, #f3f4f6);
}

.centeredImage
{
    position: relative;
    width: 380px;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.decorationLine
{
    position: relative;
    width: calc(100% - var(--defaultSideSpace) * 2);
    height: 3px;
    top: 0;
    left: var(--defaultSideSpace);
    background-color: #555a7a20;
    border-radius: 999px;
    margin: 10px 0px;
}

.taLeft { text-align: left; }
.taCenter { text-align: center; }
.taRight { text-align: right; }

.fs10px { font-size: 10px !important; }
.fs11px { font-size: 11px !important; }
.fs12px { font-size: 12px !important; }
.fs13px { font-size: 13px !important; }
.fs14px { font-size: 14px !important; }
.fs15px { font-size: 15px !important; }
.fs16px { font-size: 16px !important; }
.fs17px { font-size: 17px !important; }
.fs18px { font-size: 18px !important; }
.fs19px { font-size: 19px !important; }
.fs20px { font-size: 20px !important; }
.fs21px { font-size: 21px !important; }
.fs22px { font-size: 22px !important; }

.allCaps { text-transform: uppercase; }
/*#endregion Other */

img
{
    color: #000000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

p, a, div, h1, h2, h3, h4, h5, h6, i, img, table, tr, th, input, text, span, form
{
    text-decoration: none;
    transition: ease .3s;
    margin: 0;
    padding: 0;
}

i
{
    user-select: none;
}

input, textarea
{
    border: none;
    outline: none;
    caret-color: #ff3864;
}

form
{
    margin-block-end: auto;
}

::before, ::after
{
    transition: ease .3s;
}

/*#region Animations */
/** Main */
@keyframes appearFromUp {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appearFromDown {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appearFromLeft {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes appearFromRight {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes hideToUp {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes hideToDown {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes Blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/** Other */
/*#endregion Animations */

/*#region Media 1300-1000 */
@media screen and (max-width: 1300px)
{

}

@media screen and (max-width: 1200px)
{

    /*#region Top bar */
    .topBar .topBarContent
    {
        display: none;
    }
    
    .topBar .burgerMenuButton
    {
        display: block;
    }
    /*#endregion Top bar */

}

@media screen and (max-width: 1100px)
{

}

@media screen and (max-width: 1000px)
{

    :root
    {
        --pageSideSpace: 40px;
        --defaultSideSpace: 10px;
    }

    /*#region Section */
    #normalTextMainSectoin
    {
        text-align: center;
    }

    .sectionHolder .sectionContent .sectionContentTallImage
    {
        position: relative;
        width: calc(100% - var(--defaultSideSpace) * 2);
        height: 300px;
        top: 0;
        left: var(--defaultSideSpace);
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .sectionHolder .sectionContent .sectionContentTallImage#sectionContentTallImage01
    {
        top: 0;
        left: var(--defaultSideSpace);
        transform: none;
        content:url("../Images/pexels-vlad-fonsark-5109822.png");
    }

    .sectionHolder .sectionContent .sectionContentTallImage#sectionContentTallImage02,
    .sectionHolder .sectionContent .sectionContentTallImage#sectionContentTallImage03
    {
        display: none;
    }

    .sectionHolder .sectionContent .Button.cursed
    {
        display: block;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .sectionHolder#mainSection
    {
        padding-top: 40px;
    }

    .sectionHolder#sdvantagesSection
    {
        padding-bottom: 0px;
    }

    .sectionContentImage
    {
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }

    .sectionHolder#mainSection .sectionContentImage
    {
        left: calc(50% - 40px);
    }

    .sectionHolder#sdvantagesSection .sectionContentImage
    {
        top: 40;
    }

    .sectionContentDecorationImage
    {
        width: 330px;
        height: auto;
        top: auto;
        bottom: 40;
        left: 50%;
        transform: translateX(-50%);
    }

    #ourScootersSection .sectionContentDecorationImage
    {
        top: calc(50% - 110px);
    }

    .pageTitle
    {
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }

    .sectionHolder .sectionContent .normalTitle,
    .sectionHolder .sectionContent .normalText
    {
        width: calc(100% - var(--defaultSideSpace) * 2);
        max-width: unset;
        left: var(--defaultSideSpace);
    }

    .sectionHolder .sectionContent .Button
    {
        left: var(--defaultSideSpace);
    }
    /*#endregion Section */

    /*#region Other */
    #normalTextForScooty
    {
        width: calc(100% - var(--defaultSideSpace) * 2);
        left: var(--defaultSideSpace);
        margin-top: 0px;
        transform: none;
    }

    .mainTitle
    {
        width: calc(100% - var(--defaultSideSpace) * 2);
        left: var(--defaultSideSpace);
    }

    .underTitleDecoration
    {
        left: var(--defaultSideSpace);
    }
    /*#endregion Other */

}
/*#endregion Media 1300-1000 */

/*#region Media 900-800 */
@media screen and (max-width: 900px)
{

}

@media screen and (max-width: 800px)
{

    :root
    {
        --pageSideSpace: 10px;
    }

    /*#region Grid */
    .gridHolder.x2,
    .gridHolder.x3
    {
        grid-template-columns: 1fr;
    }
    /*#endregion Grid */

    /*#region Bulet point list */
    .bulletPointList.Right .bulletPointElement
    {
        grid-template-columns: 50px auto;
    }

    .bulletPointList.Right .bulletPointElement .bulletPointElementText
    {
        padding-left: 0px;
        padding-right: 26px;
    }

    .bulletPointList.Right .bulletPointElement .bulletPointElementText:first-child
    {
        display: none;
    }

    .bulletPointList.Right .bulletPointElement .bulletPointElementText:last-child
    {
        display: block;
    }

    #ourScootersSection .bulletPointList
    {
        position: relative;
        width: calc(100% - var(--defaultSideSpace) * 2);
        top: 0;
        left: var(--defaultSideSpace);
    }

    #ourScootersSection .bulletPointList#bulletPointList01
    {
        margin-top: 80px;
    }

    #ourScootersSection .bulletPointList#bulletPointList02
    {
        float: none;
        top: 0;
        left: var(--defaultSideSpace);
        right: auto;
    }
    /*#endregion Bulet point list */

    /*#region Top bar */
    .topBar .topBarContentLogo
    {
        left: var(--defaultSideSpace);
    }
    /*#endregion Top bar */

    /*#region Bottom bar */
    .bottomBarBox
    {
        grid-template-columns: 1fr;
    }

    .bottomBarBox .bottomBarBoxElement .bottomBarBoxElementText
    {
        top: 0;
        text-align: center;
        transform: none;
    }

    .bottomBarLogo,
    .bottomBarBox .bottomBarBoxElement .bottomBarBoxElementText#bottomBarLeftText
    {
        text-align: center;
    }

    .bottomBarBoxButtonsHolder
    {
        left: 50%;
        transform: translateX(-50%);
    }

    #bottomBarBoldText
    {
        font-weight: 600;
    }
    /*#endregion Bottom bar */

    /*#region Section */
    .sectionHolder#ourScootersSection
    {
        padding-bottom: 140px;
    }

    .sectionHolder#downloadTheAppSection
    {
        padding-bottom: 0px;
    }

    .sectionHolder#sdvantagesSection .sectionContentImage
    {
        left: 0;
        transform: none;
    }

    .sectionContentDecorationImage
    {
        left: calc(50% - 100px);
    }

    .sectionHolder .sectionContent .sectionContentLeftBox
    {
        width: 100%;
        left: 0;
    }

    .sectionHolder .sectionContent .sectionContentRightImage
    {
        position: relative;
        width: 400px;
        bottom: auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    /*#endregion Section */

    /*#region Other */
    #ourScootersSectionText
    {
        float: none;
        position: relative;
        width: calc(100% - var(--defaultSideSpace) * 2);
        top: 0;
        right: auto;
        left: var(--defaultSideSpace);
    }

    #ourScootersSection .centeredImage
    {
        position: absolute;
        top: 200;
        margin-top: 0px;
    }

    #ourScootersSection .sectionContentDecorationImage
    {
        top: calc(50% - 30px);
    }
    /*#endregion Other */

}
/*#endregion Media 900-800 */

/*#region Media 700-600 */
@media screen and (max-width: 700px)
{

}

@media screen and (max-width: 600px)
{

}
/*#endregion Media 700-600 */

/*#region Media 500-400 */
@media screen and (max-width: 500px)
{

}

@media screen and (max-width: 400px)
{

}
/*#endregion Media 500-400 */

/*#region Media 350 */
@media screen and (max-width: 350px)
{

}
/*#endregion Media 350 */
